<div class="edit_container">
  <%= link_to '', 'javascript:history.back()', class: "back_button edit_back_btn" %>
  <h1 class="pagetitle">コメント編集</h1>
  <%= render "form", comment: @comment %>
</div>

