.bookmarks{
    .show_link{
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
        @media (max-width: 768px) {
            display: block;
        }
    }

    .pagetitle{
        text-align: center;
        margin: 50px 0;
        @media (max-width: 768px) {
            margin: 30px 0;
            font-size: 27px;
        }
    }
    
    .pagetitle_adjust{
        margin: 30px 0 50px 0;
        @media (max-width: 768px) {
            margin: 30px 0 35px 0;
        }
    }

    .shopcount_display{
        text-align: center;
    }

    .shoplist_container{
        width: 600px;
        padding: 20px 35px;
        margin: 30px auto;
        border-radius: 20px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        @media (max-width: 768px) {
            width: 90%;
            padding: 20px 5px;

            .shoplist_flexitem2{
                margin: 0 8px;
            }
        }

        .shopinfo_image{
            margin-right: 15px;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .shopinfo_head{
            border-bottom: 1px solid #7d7d7d;
            padding-bottom: 3px;
            margin-bottom: 8px;
        }

        .shopinfo_name{
            font-weight: bold;
            font-size: 20px;
            color: rgb(32, 107, 236);
        }

        p{
            margin: 5px 0;
        }
    }

    .shoplist_border{
        width: 750px;
        @media (max-width: 768px) {
            width: 80%;
        }
    }

    .bookmark_explain{
        text-align: center;
    }

    .shopdetail_container{
        width: 70%;
        padding: 30px 50px;
        margin: 60px auto;
        border-radius: 30px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        @media (max-width: 768px) {
            width: 95%;
            padding: 30px 5px;
        }

        .shopdetail_head{
            padding-bottom: 15px;
            margin-bottom: 40px;
            border-bottom: 2px solid #acacac;
            @media (max-width: 768px) {
                margin-bottom: 10px;
                .head_text{
                    margin: 0 10px;
                }
            }

            .bookmark_icon{
                position: relative;
                bottom: 25px;
                right: 10px;
                float: right;
                width: 50px;
            }
        }

        h2{
            margin-bottom: 0;
        }

        h3{
            margin: 30px 0;
        }

        .detail_image{
            width: 40%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .table_design {
            border-collapse: collapse;
            width: 100%;
            max-width: 700px;
        }
        .table_design th, .table_design td {
            padding: 1em;
        }
        .table_design th {
            color: #4d9bc1;
            font-weight: bold;
            text-align: left;
            width: 20%;
            min-width: 4em;
            position: relative;
        }
        .table_design th::after {
            content: '';
            background-color: #c1c7c6;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            width: 1px;
            height: 60%;
        }

        .table_design .options_th::after {
            height: 90%;
        }

        .map_url{
            color: #1149f2;
        }
    }

    .comments_container{
        width: 70%;
        padding: 30px 50px;
        margin: 60px auto;
        border-radius: 30px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        @media (max-width: 768px) {
            width: 90%;
            padding: 30px 15px;
        }

        .comment_title{
            color: #4d9bc1;
        }

        .comment_flex{
            display: flex;
            margin: 20px 0 5px 0;
        }

        .comment_icon{
            height: 35px;
            width: 35px;
            border-radius: 50%;
        }

        .comment_textbox{
            width: 40%;
            padding: 10px 20px;
            margin: 0 15px;
            border: 1px solid #aaaaaa;
            border-radius: 10px;
            @media (max-width: 768px) {
                padding: 10px 5px 10px 20px;
                margin: 0 0 0 8px;
                width: 75%;
            }
        }

        .comment_button_flex{
            display: flex;
            padding: 0 50px;

            .comment_delete_btn{
                margin-left: 5px;
            }
        }

        .comment_input{
            width: 40%;
            height: 100px;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .comment_submit_btn{
            width: 40%;
            margin: 10px 0;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}