.restaurants{
    .show_link{
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
    }

    .pagetitle{
        text-align: center;
        margin: 50px 0;
    }
    .pagetitle_adjust{
        margin: 30px 0 50px 0;
    }

    .form_container{
        display: block;
        width: 500px;
        padding: 20px 35px;
        margin: 30px auto;
        border-radius: 20px; /* ボーダーの角丸 */
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); /* 影 */
    }

    .checkbox_unit{
        display: inline-block;
        margin-right: 10px;
    }

    .submit_button{
        position: relative;
        display: block;
        width: 50%;
        height: 45px;
        background-color: #FFC224;
        color: white;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        font-family: Arial, sans-serif;
        font-weight:  bold;
        margin: 10px auto;
        cursor: pointer;
        border: none;
        border-radius: 30px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        transition: transform 0.1s ease-in-out;
    }

    .shopcount_display{
        text-align: center;
    }

    .shoplist_container{
        width: 600px;
        padding: 20px 35px;
        margin: 30px auto;
        border-radius: 20px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        .shopinfo_image{
            margin-right: 15px;
        }

        .shopinfo_head{
            border-bottom: 1px solid #7d7d7d;
            padding-bottom: 3px;
            margin-bottom: 8px;
        }

        .shopinfo_name{
            font-weight: bold;
            font-size: 20px;
            color: rgb(32, 107, 236);
        }

        p{
            margin: 5px 0;
        }
    }

    .shoplist_border{
        width: 750px;
    }

    .pagination{
        margin: 40px auto 60px;
        width: 50%;
        display: flex;
        justify-content: center;
        span{
            text-align: center;
            width: 40px;
            :hover{
                background-color:#f3f3f3;
            }
            a{
                color: #000000;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
                :hover{
                    background-color: #f3f3f3;
                  }
            }
        }
    }
    .current{
        color: white;
        background-color: #FFC224;
    }
    .gap{
        background-color: white !important;
    }

    .paginate{
        text-align: center;
    }

    .shopdetail_content{
        width: 70%;
        padding: 30px 50px;
        margin: 60px auto;
        border-radius: 30px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        .shopdetail_head{
            padding-bottom: 15px;
            margin-bottom: 40px;
            border-bottom: 2px solid #acacac;
        }

        h2{
            margin-bottom: 0;
        }

        h3{
            margin: 30px 0;
        }

        .detail_image{
            width: 40%;
        }

        .table_design {
            border-collapse: collapse;
            width: 100%;
            max-width: 700px;
        }
        .table_design th, .table_design td {
            padding: 1em;
        }
        .table_design th {
            color: #4d9bc1;
            font-weight: bold;
            text-align: left;
            width: 20%;
            min-width: 4em;
            position: relative;
        }
        .table_design th::after {
            content: '';
            background-color: #c1c7c6;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            width: 1px;
            height: 60%;
        }

        .table_design .options_th::after {
            height: 90%;
        }
    }
}